:root {
    --color-900: rgb(45, 51, 123);
    --color-700: rgb(59, 71, 198);
    --color-400: rgb(118, 148, 228);
    --color-black: rgb(16, 16, 16);
    --color-primary-neutral: rgb(63, 63, 63);
    --color-secondary-neutral: rgb(242, 242, 242);
    --font-main: Inter, sans-serif;
    --font-alt: Georgia;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: var(--color-secondary-neutral);
    box-sizing: border-box;
}

body {
    background-color: var(--color-black);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(
        transparent,
        var(--color-700),
        transparent
    );
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

a {
    transition: all 300ms ease;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    list-style: none;
    background: linear-gradient(
        to right,
        transparent,
        color-mix(in srgb, var(--color-secondary-neutral) 5%, transparent),
        transparent
    );
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    position: inherit;
    font-weight: 600;
    margin-right: auto;
}

.nav-logo img {
    height: 1.5rem;
    margin-right: 0.75rem;
}

.nav-logo span {
    font-size: 1.2rem;
}

nav .nav-items {
    width: auto;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .nav-items a {
    height: 2.5rem;
    display: flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    margin: 0.25rem 0.25rem;
}

nav .nav-items a li {
    font-weight: 400;
}

nav .nav-items a:hover li {
    color: var(--color-400);
}

nav .nav-mode {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0.5rem;
    margin-left: auto;
}

.nav-border {
    position: sticky;
    width: 100%;
    top: 3rem;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        color-mix(in srgb, var(--color-700) 50%, transparent),
        transparent
    );
    color: var(--color-secondary-neutral);
}

#profile {
    top: 3rem;
    height: calc(100vh - 3rem);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profile-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.profile-info h1 {
    font-size: 42px;
    margin: 1rem 0;
}

.profile-info h1 span {
    color: var(--color-700);
}

h6 {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: var(--color-400);
}

.profile-info p {
    line-height: 1.5rem;
}

.profile-info em {
    margin-top: 2rem;
    border-left: 3px solid var(--color-secondary-neutral);
    padding-left: 2rem;
    font-size: 1.5rem;
    font-family: var(--font-alt);
    color: var(--color-400);
}

.profile-image {
    right: 0;
    height: 100%;
    width: 50%;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.profile-image img {
    object-fit: cover;
    height: 160%;
    object-position: center -100px;
}

@media (max-width: 768px) {
    nav .nav-items {
        display: none;
    }

    #profile {
        flex-direction: column;
        justify-content: flex-start;
        min-height: 175vh;
    }

    .profile-info {
        justify-content: flex-start;
        width: 100%;
        min-height: 75vh;
    }

    .profile-image {
        width: 100%;
        min-height: 50vh;
    }
}

.skills-languages img {
    height: 2rem;
}

.separator {
    width: 100%;
    top: 3rem;
    height: 1px;
    background: linear-gradient(
        to right,
        transparent,
        color-mix(in srgb, var(--color-700) 50%, transparent),
        transparent
    );
    color: var(--color-secondary-neutral);
}

.skills-languages {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
}

#skills {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.head h6 {
    margin-top: 4rem;
}

h2 {
    color: var(--color-secondary-neutral);
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    min-width: 15rem;
    max-width: 25rem;
    border: 2px solid var(--color-primary-neutral);
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: color-mix(
        in srgb,
        var(--color-secondary-neutral) 5%,
        transparent
    );
}

.card h3 {
    color: var(--color-700);
    margin-bottom: 0.5rem;
}

.skills-technical article {
    margin: 0.75rem 0;
    display: flex;
    align-items: center;
    min-height: 2rem;
}

.skills-technical article svg,
.skills-technical article div {
    position: absolute;
    height: 2rem;
    width: 2rem;
}

.skills-technical article span {
    margin-left: 3rem;
    font-size: 1rem;
}

.skills-languages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skills-languages article {
    align-items: center;
    display: flex;
    width: 10rem;
    padding: 1rem;
}

.skills-languages article h4 {
    margin-left: 1rem;
    font-size: 1rem;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-me .misc {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
}

.misc div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid var(--color-primary-neutral);
    border-bottom: 2px solid var(--color-primary-neutral);
    padding: 1rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.contacts h3 {
    margin: 1rem;
}

.about-me-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem 6rem;
}

.about-me-contact .lone,
.about-me-contact li a {
    width: 15rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid var(--color-primary-neutral);
    padding-top: 1rem;
}

.about-me-contact li a span {
    color: var(--color-700);
}

.about-me-contact li:last-child a {
    border-bottom: 1px solid var(--color-primary-neutral);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

#projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.project-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.project img {
    width: 100%;
}

.project {
    min-width: 10rem;
    max-width: 20rem;
    height: 25rem;
    border: 2px solid var(--color-primary-neutral);
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: color-mix(
        in srgb,
        var(--color-secondary-neutral) 5%,
        transparent
    );
}

.project a {
    margin-bottom: auto;
}

/* .checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 0.75rem;
}

.label svg {
    height: 2rem;
    width: 2rem;
}

.sun {
    display: none;
}

#darkmode-toggle:checked + .label .sun {
    display: block;
}
#darkmode-toggle:checked + .label .moon {
    display: none;
}
#darkmode-toggle:checked ~ body {
    background-color: var(--color-secondary-neutral);
}

#darkmode-toggle:checked + .card {
    border: 2px solid var(--color-secondary-neutral);
}

#darkmode-toggle:checked + .project {
    border: 2px solid var(--color-secondary-neutral);
} */
